:root {
  --text: #010404;
  --background: #fdf7f7;
  --primary: #d93f44;
  --secondary: #eeecaa;
  --accent: #4f7d7d;
}

@font-face {
  font-family: Primaryfont;
  src: url("Fonts/PPHatton-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  height: 100dvh;
}

body {
  background-color: var(--background);
}

nav {
  width: 100vw;
  width: 100dvw;
  background-color: var(--background);
  color: var(--primary);
  padding: 10px 0;
  margin: 30px 0;
  position: fixed;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: center;
  gap: 100px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

nav li {
  list-style-type: none;
  text-decoration: none;
}

nav a:hover {
  color: var(--primary);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.sociallinks {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 30px 30px 0;
}

.sociallinks img {
  width: 40px;
  height: 40px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.sociallinks a:hover {
  transform: scale(1.2);
  transition: ease 0.5s;
}

.homepage {
  background-color: var(--background);
  height: 100vh;
  height: 100dvh;
  position: relative;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.homepage .badesigns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 576px;
  opacity: 30%;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.homepage .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: var(--primary);
  font-family: Primaryfont;
  font-size: 84px;
}

.homepage span {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--text);
}

.aboutme {
  max-height: 100vh;
  max-height: 100dvh;
  padding: 250px 0 500px 300px;
  background-color: var(--secondary);
}

.aboutme p {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  text-align: justify;
  color: var(--accent);
  max-width: 70%;
  margin: 60px 0px 0 100px;
}

.btn {
  display: flex;
  justify-content: center;
}

.aboutme .btn {
  font-size: 24px;
  background-color: var(--accent);
  color: white;
  border: 3px solid var(--text);
  margin: 60px 0 0 100px;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
}

.aboutme button:hover {
  background-color: var(--primary);
  color: var(--text);
}

.project p {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  color: var(--accent);
  margin: 0px 0px 0 10px;
}

.project {
  margin: 0 200px;
  padding: 250px 0 500px 0px;
  display: flex;
  gap: 120px;
}

.project1 {
}
.project img {
  width: 920px;
  max-width: 920px;
}
.project2 {
}

.project3 {
}

.contact {
  background-color: var(--secondary);
  padding: 150px 0 500px 300px;
}

.contactinfo {
  display: flex;
  gap: 100px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form input,
.form textarea {
  font-size: 20px;
  border: 3px solid var(--text);
  height: 60px;
  width: 600px;
  background-color: var(--background);
}

.form textarea {
  height: 180px;
  padding-top: 10px;
  resize: none;
}

.indented {
  padding-left: 15px;
}

#submitbtn {
  height: 40px;
  max-height: 120px;
  background-color: var(--primary);
  color: var(--background);
}

#submitbtn:hover {
  background-color: var(--accent);
  transition: ease 0.3s;
}

.rightinfo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightinfo p {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: var(--text);
  margin-top: 15px;
}

.icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.icon i {
  width: 30px;
}

.icon i {
  line-height: 1;
}

@media (max-width: 480px) {
  nav {
    padding: 15px 0 7px;
    margin: 20px 0;
    font-size: 15px;
    gap: 64px;
  }

  .sociallinks {
    margin: 0 40px 40px 0;
    flex-direction: row;
  }

  .sociallinks img {
    height: 20px;
    width: 20px;
  }

  h1 {
    font-size: 27px;
  }

  .homepage .badesigns {
    height: 250px;
  }

  .homepage span {
    font-size: 16px;
    text-align: center;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0 0;
  }

  .aboutme p {
    margin: 60px 0px 60px 40px;
    font-size: 16px;
  }

  .aboutme .btn {
    border: 2px solid var(--text);
    font-size: 15px;
    margin: 0;
    padding: 10px 20px;
  }

  .project p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }

  .project {
    padding: 100px 0 500px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .project img {
    display: flex;
    align-items: center;
    width: 380px;
    max-width: 1020px;
  }
  .contact {
    text-align: center;
    padding: 80px 0 0 0;
  }

  .contactinfo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .form {
    gap: 10px;
    /* display: none; */
  }

  .form input,
  .form textarea {
    border: 2px solid var(--text);
    font-size: 16px;
    height: 40px;
    width: 300px;
  }

  .form textarea {
    height: 120px;
  }

  .rightinfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .rightinfo p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: var(--text);
    margin-top: 15px;
    text-align: center;
  }

  .icon {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
  nav {
    font-family: "Poppins", sans-serif;
    padding: 15px 0 7px;
    margin: 20px 0;
    font-size: 25px;
    gap: 80px;
  }

  .sociallinks {
    margin: 0 40px 40px 0;
  }

  .sociallinks img {
    height: 30px;
    width: 30px;
  }

  h1 {
    font-size: 56px;
  }

  .homepage .badesigns {
    height: 400px;
  }

  .homepage span {
    font-size: 20px;
  }

  .aboutme {
    padding: 150px 0 500px 150px;
  }

  .aboutme p {
    margin: 60px 0px 0 60px;
    font-size: 24px;
  }

  .aboutme .btn {
    font-size: 18px;
    padding: 10px 20px;
  }

  .project p {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }

  .project {
    padding: 100px 0 500px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .project img {
    display: flex;
    align-items: center;
    width: 580px;
    max-width: 1020px;
  }
  .contact {
    padding: 150px 0 500px 150px;
  }

  .contactinfo {
    gap: 40px;
  }
  .form {
    gap: 20px;
  }

  .form input,
  .form textarea {
    border: 2px solid var(--text);
    font-size: 20px;
    height: 50px;
    width: 350px;
  }

  .form textarea {
    height: 120px;
  }

  .rightinfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rightinfo p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: var(--text);
    margin-top: 15px;
  }

  .icon {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
  }
}
